@mixin clearfix {
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }
}

$sites: (
  weixin: #49b233,
  yixin: #23cfaf,
  weibo: #f04e59,
  qzone: #fdbe3d,
  renren: #1f7fc9,
  tieba: #5b95f0,
  douban: #228a31,
  tqq: #97cbe1,
  qq: #4081e1,
  weixintimeline: #1cb526
);

.soshm {
  @include clearfix;

  text-align: center;

  &-item {
    float: left;
    line-height: 0;
    margin: 5px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &-icon {
      display: inline-block;
      text-decoration: none;
    }

    &-icon {
      width: 26px;
      height: 26px;
      padding: 5px;
      text-align: center;
    }

    &-text {
      display: none;
    }

    @each $name, $color in $sites {
      &.#{$name} {
          background: $color;

        &:hover {
          background: darken($color, 10%);
        }
      }
    }
  }

  &-group {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;

    .soshm-item {
      display: block;
      float: none;
      margin: 0;
    }
  }

  &-pop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 9999;
    background: rgba(#000, 0.65);

    &-show {
      opacity: 1;
      transition: opacity 800ms ease-in;

      @for $i from 1 through 3 {
        .group#{$i} {
          $duration: ($i - 1) * 600ms + 1200ms;
          animation: soshtrans $duration 1 ease;
        }
      }
    }

    &-hide {
      opacity: 0;
      transition: opacity 800ms ease-in;

      @for $i from 1 through 3 {
        .group#{$i} {
          $delay: ($i - 1) * 300ms;
          animation: soshtrans2 700ms 1 cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
        }
      }
    }

    &-sites {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translate(0, -50%);
    }

    .soshm {
      &-item-icon {
        width: 48px;
        height: 48px;
        padding: 8px;
      }
    }
  }

  &-wxsharetip {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6) url(../img/weixin_sharetip.png) no-repeat right 0;
    background-size: 50% auto;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 600ms ease-out;

    &.wxsharetip-show {
      z-index: 9999;
      opacity: 1;
      visibility: visible;
    }
  }
}

@keyframes soshtrans {
  0% {
    transform: translate3d(0, 1136px, 0);
  }

  50% {
    transform: translate3d(0, 0, 0);
  }

  60% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes soshtrans2 {
  0% {
    opacity: 1;
    transform:translate3d(0, 0, 0);
  }

  100%{
    opacity: 0;
    transform:translate3d(0, 500%, 0);
  }
}
